.navBar{
    /* background-color: aquamarine; */
    max-width: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    padding-top: 30px;
    margin-right: 40px;
    align-items:center;
}

.navBar img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 22px;
}
.logo{
    /* background-color: yellow; */
    display: inline-block;
    align-items: center;
    width: 150%;
    height: 150%;
}